Repository BerkayDur/sales-tracker-hermes, pull requests merged in 2024-06, with the labels that each got.

#49 Setup the initial file system
  .gitignore
  Clean-up/README.md
  Dashboard/README.md
  Database/README.md
  ETL/Email/README.md
  ETL/Pipeline/README.md
  ETL/Provision/README.md
  ETL/Step-Function/README.md
Labels: enhancement

#54 Added Database Schema and bash files
  Database/README.md
  Database/clear.sh
  Database/connect.sh
  Database/query.sh
  Database/query.sql
  Database/schema.sql
Labels: Database

#55 update schema to use Decimal instead of money type
  Database/schema.sql
Labels: Database

#52 Terraform Database on AWS RDS
  Database/README.md
  Database/Terraform/main.tf
  Database/Terraform/outputs.tf
  Database/Terraform/variables.tf
Labels: Database

#56 inital diagrams
  Diagrams/Architecture_Diagram.png
  Diagrams/Dashboard_Wireframe.png
  Diagrams/ERD.png
Labels: documentation

#57 Provision Lambda
  .github/badges/avg_score.svg
  .github/badges/passed_percentage.svg
  .util/pylint_scores.json
  .util/pylint_scores.txt
  .util/pytest_scores.json
  .util/pytest_scores.txt
  ETL/Provision/.coverage
  ETL/Provision/Dockerfile
  ETL/Provision/README.md
  ETL/Provision/conftest.py
  ETL/Provision/provision_lambda.py
  ETL/Provision/requirements.txt
  ETL/Provision/test_provision_lambda.py
Labels: ETL, Provisioning Lambda

#58 added clean up script
  .gitignore
  .util/pylint_scores.txt
  .util/pytest_scores.json
  .util/pytest_scores.txt
  Clean-up/Dockerfile
  Clean-up/README.md
  Clean-up/Terraform/main.tf
  Clean-up/Terraform/outputs.tf
  Clean-up/Terraform/variables.tf
  Clean-up/clean_lambda.py
  Clean-up/conftest.py
  Clean-up/requirements.txt
  Clean-up/test_clean_lambda.py
  Database/README.md
  Database/insert.sh
  Database/insert.sql
  Database/query.sql
Labels: Clean-up

#63 Product code added
  ETL/Provision/provision_lambda.py
Labels: ETL, Provisioning Lambda

#59 Extract file - Readings Data
  .util/pylint_scores.txt
  .util/pytest_scores.json
  .util/pytest_scores.txt
  ETL/Pipeline/Dockerfile
  ETL/Pipeline/Terraform/main.tf
  ETL/Pipeline/Terraform/variables.tf
  ETL/Pipeline/conftest.py
  ETL/Pipeline/extract.py
  ETL/Pipeline/requirements.txt
  ETL/Pipeline/test_extract.py
Labels: ETL, Pipeline

#61 Aggregate pipeline
  .util/pylint_scores.txt
  .util/pytest_scores.json
  .util/pytest_scores.txt
  ETL/Email/Dockerfile
  ETL/Email/Terraform/main.tf
  ETL/Email/Terraform/variables.tf
  ETL/Email/combined_load.py
  ETL/Email/conftest.py
  ETL/Email/email_service.py
  ETL/Email/handler.py
  ETL/Email/helpers.py
  ETL/Email/requirements.txt
  ETL/Email/test_combined_load.py
  ETL/Email/test_email_service.py
  ETL/Email/test_helpers.py
Labels: ETL

#62 ETL state machine and schedule terraformed
  ETL/Terraform/main.tf
  ETL/Terraform/outputs.tf
  ETL/Terraform/variables.tf
Labels: ETL

#69 Update workflows
  .github/badges/avg_score.svg
  .github/badges/number_of_tests.svg
  .github/workflows/main.yaml
  .util/pylint_scores.txt
  .util/pytest_scores.json
  .util/pytest_scores.txt
Labels: documentation, enhancement

#73 Send email verification in AWS ses.
  .github/badges/avg_score.svg
  .util/pylint_scores.json
  .util/pylint_scores.txt
  .util/pytest_scores.json
  .util/pytest_scores.txt
  Dashboard/requirements.txt
  Dashboard/utilities/email_verification.py
  Dashboard/utilities/test_email_verification.py
Labels: enhancement, Dashboard

#71 Get all/verified/unverified emails from ses
  .github/badges/avg_score.svg
  .util/pylint_scores.json
  .util/pylint_scores.txt
  .util/pytest_scores.json
  .util/pytest_scores.txt
  Dashboard/utilities/ses_get_emails.py
  Dashboard/utilities/test_ses_get_emails.py
Labels: Dashboard

#81 Update workflow to use secrets
  .github/workflows/main.yaml
  .util/pytest_scores.txt
Labels: documentation, enhancement

#66 Adding login page
  .github/badges/avg_score.svg
  .github/badges/number_of_tests.svg
  .gitignore
  .util/pylint_scores.json
  .util/pylint_scores.txt
  .util/pytest_scores.json
  .util/pytest_scores.txt
  Dashboard/README.md
  Dashboard/login.py
  Dashboard/navigation.py
  Dashboard/pages/price.py
  Dashboard/requirements.txt
  Dashboard/utilities/email_verification.py
  Dashboard/utilities/ses_get_emails.py
  Dashboard/utilities/test_email_verification.py
  Dashboard/utilities/test_ses_get_emails.py
  ETL/Provision/conftest.py
  ETL/Provision/test_provision_lambda.py
Labels: Dashboard

#75 Update etl terraform
  .util/pytest_scores.txt
  ETL/Email/Terraform/main.tf
  ETL/Terraform/main.tf
  ETL/Terraform/outputs.tf
  ETL/Terraform/variables.tf
Labels: enhancement, ETL

#82 Fixed unexpected errors with the email load pipeline
  .github/badges/number_of_tests.svg
  .util/pytest_scores.json
  .util/pytest_scores.txt
  ETL/Email/conftest.py
  ETL/Email/email_service.py
  ETL/Email/handler.py
  ETL/Email/helpers.py
  ETL/Email/test_email_service.py
Labels: bug, ETL

#85 Fix type hint error on dashboard utils
  .util/pytest_scores.txt
  Dashboard/utilities/email_verification.py
  Dashboard/utilities/ses_get_emails.py
Labels: bug, Dashboard

#87 adds website table to schema and insert.sql
  Database/insert.sql
  Database/schema.sql
Labels: Database

#86 Added email verification
  .github/badges/avg_score.svg
  .util/pylint_scores.json
  .util/pylint_scores.txt
  .util/pytest_scores.txt
  Dashboard/login.py
  Dashboard/utilities/email_verification.py
Labels: Dashboard

#90 added config file
  Dashboard/.streamlit/config.toml
Labels: bug, Dashboard

#94 website extraction added
  .util/pytest_scores.txt
  ETL/Provision/.coverage
  ETL/Provision/provision_lambda.py
Labels: enhancement, Aggregate lambda

#93 Extract product info
  .github/badges/avg_score.svg
  .github/badges/number_of_tests.svg
  .github/badges/passed_percentage.svg
  .util/pylint_scores.json
  .util/pylint_scores.txt
  .util/pytest_scores.json
  .util/pytest_scores.txt
  Dashboard/requirements.txt
  Dashboard/utilities/extract_combined.py
  Dashboard/utilities/extract_from_asos.py
  Dashboard/utilities/helpers.py
  Dashboard/utilities/load.py
  Dashboard/utilities/test_helpers.py
Labels: enhancement, Dashboard

#91 added Dockerfile
  .gitignore
  .util/pytest_scores.txt
  Dashboard/Dockerfile
  Dashboard/README.md
Labels: Dashboard

#96 made signup better
  .github/badges/avg_score.svg
  .util/pylint_scores.json
  .util/pylint_scores.txt
  .util/pytest_scores.txt
  Dashboard/login.py
  Dashboard/pages/price.py
Labels: bug, Dashboard

#95 Add tests for extract combined
  .github/badges/avg_score.svg
  .util/pylint_scores.json
  .util/pytest_scores.txt
  Dashboard/utilities/test_extract_combined.py
  Dashboard/utilities/test_helpers.py
Labels: enhancement, Dashboard

#97 Split initial extract to store specific and combined extract file
  .github/badges/avg_score.svg
  .util/pylint_scores.json
  .util/pylint_scores.txt
  .util/pytest_scores.txt
  ETL/Pipeline/extract_combined.py
  ETL/Pipeline/extract_from_asos.py
  ETL/Pipeline/helpers.py
Labels: ETL

#99 update email_service to work with data containing website
  .github/badges/avg_score.svg
  .util/pylint_scores.json
  .util/pytest_scores.txt
  ETL/Email/email_service.py
  ETL/Email/test_email_service.py
  ETL/Email/test_helpers_email.py
Labels: enhancement, ETL

#102 Resolve name conflicts
  .github/badges/number_of_tests.svg
  .github/badges/passed_percentage.svg
  .util/pylint_scores.txt
  .util/pytest_scores.json
  .util/pytest_scores.txt
  ETL/Email/combined_load.py
  ETL/Email/email_helpers.py
  ETL/Email/email_service.py
  ETL/Email/handler.py
  ETL/Email/test_email_helpers.py
Labels: bug, ETL

#106 Add test files for extract files
  .github/badges/avg_score.svg
  .github/badges/number_of_tests.svg
  .util/pylint_scores.json
  .util/pylint_scores.txt
  .util/pytest_scores.json
  .util/pytest_scores.txt
  ETL/Pipeline/conftest.py
  ETL/Pipeline/extract.py
  ETL/Pipeline/extract_asos.py
  ETL/Pipeline/extract_main.py
  ETL/Pipeline/pipeline_helpers.py
  ETL/Pipeline/test_extract.py
  ETL/Pipeline/test_extract_asos.py
  ETL/Pipeline/test_extract_main.py
  ETL/Pipeline/test_pipeline_helpers.py
Labels: enhancement, ETL

#103 Update entire etl pipeline to work seamlessly
  .util/pytest_scores.txt
  ETL/Email/conftest.py
  ETL/Email/email_helpers.py
  ETL/Email/email_service.py
  ETL/Email/test_email_service.py
  ETL/Pipeline/Dockerfile
  ETL/Pipeline/extract_main.py
  ETL/Pipeline/pipeline_helpers.py
  ETL/Pipeline/test_extract.py
  ETL/Provision/provision_lambda.py
Labels: bug, enhancement, ETL

#108 Extract from Patagonia added to the ETL
  .github/badges/avg_score.svg
  .github/badges/number_of_tests.svg
  .github/badges/passed_percentage.svg
  .util/pylint_scores.json
  .util/pylint_scores.txt
  .util/pytest_scores.json
  .util/pytest_scores.txt
  ETL/Pipeline/extract_from_patagonia.py
  ETL/Pipeline/extract_main.py
  ETL/Pipeline/pipeline_helpers.py
  ETL/Pipeline/requirements.txt
Labels: enhancement, ETL

#109 Logo
  .util/pytest_scores.txt
  Dashboard/logo/hermes_crop.png
  Dashboard/logo/hermes_logo.png
  Dashboard/logo/hermes_logo_full.png
  Dashboard/navigation.py
Labels: Dashboard

#110 Update the price pages, specifically add subscribe functionality and view price history
  .github/badges/avg_score.svg
  .util/pylint_scores.json
  .util/pylint_scores.txt
  .util/pytest_scores.txt
  Dashboard/login.py
  Dashboard/navigation.py
  Dashboard/pages/price.py
  Dashboard/utilities/extract_combined.py
  Dashboard/utilities/extract_from_asos.py
  Dashboard/utilities/helpers.py
  Dashboard/utilities/load.py
  Database/query.sql
Labels: enhancement, Dashboard

#121 added logos
  .github/badges/avg_score.svg
  .util/pylint_scores.json
  .util/pylint_scores.txt
  .util/pytest_scores.txt
  Dashboard/logo/asos_logo.png
  Dashboard/logo/hermes_crop.png
  Dashboard/logo/hermes_icon.png
  Dashboard/logo/hermes_icon_crop.png
  Dashboard/logo/hermes_logo.png
  Dashboard/logo/hermes_logo_black.png
  Dashboard/logo/hermes_logo_full.png
  Dashboard/logo/hermes_logo_orange.png
  Dashboard/logo/patagonia_logo.png
  Dashboard/navigation.py
Labels: Dashboard

#114 Dashboard readme adding information
  .util/pytest_scores.txt
  Dashboard/README.md
Labels: Dashboard

#119 Global readme
  .util/pytest_scores.txt
  README.md
Labels: documentation

#131 Update the clean-up terraform to work with different lambda function names
  .util/pytest_scores.txt
  Clean-up/Terraform/main.tf
  Clean-up/Terraform/variables.tf
Labels: enhancement, Clean-up

#130 Update database readme
  .util/pytest_scores.txt
  Database/README.md
Labels: Database

#128 Update global readme
  .util/pytest_scores.txt
  README.md
Labels: documentation

#126 Update database seeding
  Database/insert.sql
Labels: enhancement, Dashboard

#136 added logo
  Dashboard/logo/hermes_logo_white.png
  Dashboard/logo/hermes_logo_white_orange.png
Labels: Dashboard

#135 Diagrams readme
  .util/pytest_scores.txt
  Diagrams/README.md
Labels: documentation

#133 Etl readme
  ETL/README.md
Labels: documentation, ETL

#124 Dashboard config
  .github/badges/avg_score.svg
  .util/pylint_scores.json
  .util/pylint_scores.txt
  .util/pytest_scores.txt
  Dashboard/Dockerfile
  Dashboard/custom_styling.py
  Dashboard/login.py
  Dashboard/logo/asos_logo.svg
  Dashboard/logo/patagonia_bear.png
  Dashboard/navigation.py
  Dashboard/pages/add_product.py
  Dashboard/pages/email_alerts.py
  Dashboard/pages/price.py
  Dashboard/styles.css
Labels: Dashboard

#138 added pytest and fix imports
  .github/badges/avg_score.svg
  .util/pylint_scores.json
  .util/pylint_scores.txt
  .util/pytest_scores.txt
  Clean-up/requirements.txt
  Dashboard/extract_combined.py
  Dashboard/extract_from_asos.py
  Dashboard/extract_from_patagonia.py
  Dashboard/load.py
  Dashboard/login.py
  Dashboard/navigation.py
  Dashboard/requirements.txt
  Dashboard/test_load.py
  Dashboard/test_login.py
  ETL/Email/requirements.txt
  ETL/Pipeline/conftest.py
  ETL/Pipeline/extract_patagonia.py
  ETL/Pipeline/pipeline_helpers.py
  ETL/Pipeline/requirements.txt
  ETL/Pipeline/test_extract_asos.py
  ETL/Pipeline/test_extract_main.py
  ETL/Provision/provision_lambda.py
  ETL/Provision/requirements.txt
  ETL/Provision/test_provision_lambda.py
Labels: bug

#141 Email readme
  .util/pytest_scores.txt
  ETL/Email/README.md
Labels: documentation

#143 pipeline instructions added
  .DS_Store
  .util/pytest_scores.txt
  ETL/.DS_Store
  ETL/Pipeline/README.md
Labels: documentation

#142 Update dashboard
  .util/pytest_scores.txt
  Dashboard/login.py
  Dashboard/navigation.py
  Dashboard/pages/price.py
  Dashboard/seeding_data.sh
  Dashboard/seeding_data.sql
Labels: enhancement, Dashboard

#145 update the docker in Pipeline
  ETL/Pipeline/Dockerfile
Labels: bug, ETL

#147 update dashboard docker
  Dashboard/Dockerfile
Labels: bug, Dashboard

#146 Added tests for extract_patagonia and pipeline_helpers
  .github/badges/number_of_tests.svg
  .util/pytest_scores.json
  .util/pytest_scores.txt
  ETL/Pipeline/conftest.py
  ETL/Pipeline/extract_patagonia.py
  ETL/Pipeline/test_extract_asos.py
  ETL/Pipeline/test_extract_patagonia.py
  ETL/Pipeline/test_pipeline_helpers.py
Labels: ETL

#148 Removed test_extract, no longer needed
  ETL/Pipeline/test_extract.py
  ETL/Pipeline/test_extract_patagonia.py
  ETL/Pipeline/test_pipeline_helpers.py
Labels: Pipeline

#150 Update dashboard readme
  .util/pytest_scores.txt
  Dashboard/README.md
Labels: documentation, Dashboard

#149 Update dashboard navigation to remove duplicate
  .util/pytest_scores.txt
  Dashboard/navigation.py
Labels: bug, Dashboard
